@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

/* REGLAS GENERALES */

/* Definimos las variables de colores  */
:root {
   --text-color: rgb(23, 23, 23);
   --primary-color: rgb(91, 73, 254);
   --secondary-color: rgb(125, 232, 140);
   --secondary-light-color: rgb(207, 243, 125);
   --table-border: rgb(91, 73, 254);
}

/* Reset de margins y paddings */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: "Inter", sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: var(--text-color);
   background-color: #f9f9f9;
}

a {
   color: var(--primary-color);
   text-decoration: none;
   background-color: transparent;
}

a:hover {
   color: var(--secondary-color);
}

p {
   margin-bottom: 10px;
}

ul,
li {
   list-style: none;
   padding: 0;
   margin: 0;
}

h1,
h2,
.title {
   font-family: "Poppins", sans-serif;
}

.title {
   font-weight: 800;
   font-size: 1.9rem;
   margin-bottom: 0.75rem;
}

.img-fluid {
   max-width: 100%;
}

/*
Las reglas que van a continuación consiguen que los contenidos dentro del elemento de class .container se adapten a los distintos dispositivos.
La clase .container define un contenedor que ocupa el 100% de la pantalla del dispositivo, con un relleno por la izquierda y por la derecha de 15 píxeles, y márgenes por la izquierda y por la derecha automáticos, para conseguir un diseño centrado.
A continuación utilizamos media queries, un módulo de CSS3 que permite adaptar la representación del contenido a las características del dispositivo y que se estudia en la unidad 5.
Con las media queries utilizadas indicamos la anchura máxima que el .container debe tener cuando los dispositivos tengan la anchura mínima indicada por el punto de rotura (breakpoint). 
*/

.container {
   margin-right: auto;
   margin-left: auto;
   padding-right: 15px;
   padding-left: 15px;
}

@media (min-width: 992px) {
   .container {
      max-width: 960px;
   }
}

@media (min-width: 1200px) {
   .container {
      max-width: 1140px;
   }
}

@media (min-width: 1400px) {
   .container {
      max-width: 1300px;
   }
}

/* Elementos de formulario comunes */

input,
.boton,
select {
   font-family: "Inter", sans-serif;
}

.form-control {
   display: block;
   width: 100%;
   height: calc(1.5em + 0.75rem + 2px);
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   border: 1px solid #ced4da;
   border-radius: 2px;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
   border-color: var(--secondary-color);
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
      0px 0px 8px var(--secondary-color);
}

.boton {
   background: var(--primary-color);
   display: inline-block;
   font-weight: 400;
   color: white;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   border: 1px solid transparent;
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   line-height: 1.5;
   border-radius: 4px;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.boton:hover {
   text-decoration: none;
   background: white;
   border-color: var(--primary-color);
   color: var(--primary-color);
}

.boton:focus {
   outline: 0;
   box-shadow: 0 0 0 0.2rem rgba(91, 73, 254, 0.25);
}

/* Bloques principales del layout */

header {
   height: 115px;
   background: white;
   box-shadow: 0 4px 8px 0 rgba(13, 10, 44, 0.04);
}

header .link-logo {
   display: inline-block;
   padding-top: 15px;
   padding-bottom: 5px;
}

header .logo {
   height: 50px;
   width: auto;
   margin-right: 20px;
}

header .menu-links li {
   margin-right: 15px;
   font-weight: 500;
   display: inline-block;
}

header .menu-links li a {
   color: black;
}

header .menu-links li a:hover {
   color: var(--primary-color);
}

header .menu-links li.active a {
   font-weight: 700;
}

main {
   padding-top: 40px;
   padding-bottom: 60px;
}

main a {
   border-bottom: 1px dotted var(--primary-color);
}

main a:hover {
   border-color: var(--secondary-color);
}

footer {
   background: var(--primary-color);
   color: white;
   padding: 20px 0 0 0;
   margin-top: auto;
   font-size: 0.9rem;
   font-weight: 500;
   height: 110px;
}

@media (max-width: 767px) {
   footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
}
footer a {
   color: white;
}

footer .legal-links {
   margin-top: 5px;
}

footer .legal-links li {
   display: inline-block;
   margin-right: 10px;
}

/* Página home */

.page-home header {
   background: transparent;
   box-shadow: none;
   position: fixed; /* En este caso se fija la barra en la página de inicio para que si se hace la ventana pequeña se superponga a la imagen central y no quede cortada (Opcional)  */
   width: 100%; /* Normalmente no es necesario definir la anchura del header porque es un elemento de bloque, pero al ser position:fixed si es necesario  */
}

.page-home {
   background: linear-gradient(
      75deg,
      var(--secondary-light-color) 0%,
      var(--secondary-color) 100%
   );
}

.page-home main {
   padding: 0;
}

.page-home .title {
   font-size: 3.4rem;
   margin-bottom: 15px;
   line-height: 4rem;
}

.page-home .title span {
   color: white;
}

.page-home .featured {
   max-width: 470px;
}

.page-home main .container {
   min-height: calc(100vh - 110px);
   background: url(../images/hero_image_bg.png) 100% 100% no-repeat;
   background-size: 700px auto;
   padding-top: 150px;
   padding-bottom: 120px;
}

@media (max-width: 767px) {
   .page-home main .container {
      background-size: 150px auto;
   }
}

.page-home .featured .featured-text {
   margin-bottom: 25px;
}

.search-bar .search-control {
   padding-left: 45px;
   height: 58px;
   background: #fff url(../images/icon_search.svg) 5px 50% no-repeat;
}

/* Página Sobre Petinder */

.page-about .img-fluid {
   padding: 10px;
   background: white;
   border: 1px solid var(--secondary-light-color);
}

.page-about figure {
   font-size: 0.9rem;
   text-align: center;
   margin-bottom: 30px;
   max-width: 700px;
   font-style: italic;
}

/* Página Camisetas (tabla) */

.page-tshirt main {
   min-height: calc(100vh - 205px);
}

.table {
   width: 100%;
   margin-top: 30px;
   border-collapse: collapse;
   font-size: 0.8rem;
}

.table,
.table th,
.table td {
   border: 1px solid black;
}

.table th {
   background: var(--secondary-light-color);
   padding: 5px 10px;
}

.table thead th {
   text-align: center;
}

.table tbody th {
   text-align: left;
}

.table thead th:first-child {
   background-color: var(--secondary-color);
}

.table td {
   background: white;
   padding: 5px 10px;
   text-align: center;
}

.table tr:nth-child(odd) td {
   border-bottom: 1px solid var(--secondary-color);
}

.table caption {
   background: var(--primary-color);
   color: white;
   padding: 10px;
   text-transform: uppercase;
   font-weight: 700;
}

/* Página Inscripción (formulario) */

fieldset {
   background: white;
   border: 1px solid var(--primary-color);
   margin-bottom: 30px;
   margin-top: 30px;
   padding: 20px 40px;
   max-width: 650px;
}

legend {
   background: var(--primary-color);
   color: white;
   font-size: 1.1rem;
   font-weight: 500;
   padding: 2px 8px;
}

.page-join .form-group {
   margin-bottom: 15px;
}

.page-join .form-control {
   display: block;
   width: 100%;
}

.page-join .form-label {
   font-weight: 500;
   display: block;
   margin-bottom: 5px;
}

.page-join .radio-group {
   margin: 0;
   padding: 0;
   list-style: none;
}

.page-join .radio-group li {
   display: inline-block;
   margin-right: 10px;
   padding: 0;
}

.page-join .block-payment select {
   max-width: 250px;
}

.page-join .block-payment h2 {
   font-size: 1.2rem;
}

.page-join .block-payment .radio-group {
   margin-bottom: 15px;
}

.page-join .conditions {
   margin-bottom: 20px;
}

.page-join small {
   display: block;
   margin: 10px 0 10px 0;
}

.page-join .required,
.page-join small {
   color: red;
   font-size: 0.85rem;
}
